

$icon_color:#c89d28;
.container12{
    .left_icons{
        svg{
            color: $icon_color;
          }
    }
}
$text_color:#000000;
@mixin informative_text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: $text_color;
    font-size: 14px;
    padding-top: 30px;
}
.container12 {
    .right_text_1 {
       p {
           @include informative_text;
       }
    } 
}

.container11 .LR .plan_all {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color:#ffffff;
}
.container11 .LR .plan_all .plan{
    @extend .plan_all;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 40px;
}
.container11 .LR .plan_all .plan_description{
    @extend .plan_all;
    font-size: 10px;
}
/*.parallax-window {
    min-height: 400px;
    background: transparent;
    background-attachment: fixed;
}*/
/*.parallax-window {
   min-height: 100vh;
   box-sizing: border-box;
   padding: 30vw 0 5vw;
   position: relative;
   transform-style: preserve-3d;
   width: 100vw;
}
.container2, container2:before{
    background: 50% 50% / cover;
}

.container2::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url('./Images/Layer\ 502.png');
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}*/