.section3{
    background-color:#ffffff;
    height: 1167px;
    padding-top: 130px;
}
.section3 h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 38px;
    color:#323333;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
}
.section3 .S3_Intro {
    display: block;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 17px;
    color:#5e5f5f;
    text-align: center;
    margin: 0px;
    margin-top: 17px;
    margin-bottom: 110px;
}
.section3 .boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section3 .boxes img {
    margin-top: 15px;
}